* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.invoice-container {
    margin: 90px auto;
    width: 90%;
    height: 700px;
    max-width: 500px;
    outline: 4px solid;
    display: grid;
    grid-template-columns: repeat(6, fr);
    grid-template-rows: 15% 20% 25% 40%;
}

.element {
    color: #ffff;
    text-align: center;
}

.elemento-1 {
    background-color: rgb(225, 221, 221);
    grid-column: 1/5;
    grid-row: 1;
    font-size: 12px;
    color: black;
    text-align: right;
    text-align: center;
}

.p {
    font-size: 10px;
}

.cubo {
    margin-top: 0px;
    width: 100px;
    margin-bottom: 10px;
    float: left;
    float: inline-start;
    
}

.elemento-2 {
    background-color: rgb(41, 46, 41);
    grid-column: 5/7;
    align-items: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}
.elemento-2 h2{
    margin-top: 25px;
}
.elemento-3 {
    background-color: rgb(246, 246, 246);
    grid-column: 1/5;
    font-size: 20px;
    color: black;
    display: flex;
    font-size: 10px;
}

.texto-1 {
    width: 60%;
    text-align: start;
    padding: 20px 0px 30px 30px;
}

.texto-2 {
    width: 40%;
    text-align: end;
    padding: 20px 20px 30px 0px;
}


.elemento-4 {
    background-color: rgb(56, 59, 56);
    grid-column: 5/7;
    font-size: 5px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: auto;
    text-align: center;
}
.elemento-4 h1{
    margin-top: 25px;
}

.elemento-5 {
    background-color: rgb(225, 221, 221);
    grid-column: 1/5;
    display: grid;
    font-size: 10px;
}

.tabla {
    width: 60vh;
    height: 180px;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    padding: 0%;
}

.numero {
    width: 60%;
    text-align: center;
    color: black;
}

.descripcion {
    width: 60%;
    text-align: center;
    color: black;
}

.precio {
    width: 60%;
    text-align: center;
    color: black;
}


.elemento-6 {
    background-color: rgb(41, 46, 41);
    grid-column: 5/7;
    display: flex;
    font-size: 10px;
}

.cantidad {
    width: 60%;
    text-align: center;
    color: white;
}

.total {
    width: 60%;
    text-align: center;
    color: white;
}



.elemento-7 {
    background-color: white;
    grid-column: 1/5;
    display: flex;
    font-size: 10px;
}

.terms {
    color: black;
    text-align: center;
}

.total {
    color: black;
    text-align: center;
}

.elemento-8 {
    background-color: rgb(56, 59, 56);
    grid-column: 5/7;
    display: flex;
    font-size: 10px;
    justify-items: center;
}
.tema{
    display: flex;
    flex-direction: column;

}

.cuenta {
    color: white;
}